body {
    position: relative;
    background: black;
    font-size: 1.5em;
    padding: 0;
    margin: 5px;
}

#screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2em;
    padding-bottom: 10px;
    background: black;
    color: #ddd;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

#screen>div {
    min-height: 1em;
}

#prompt {
    position: absolute;
    left: 0;
    right: 0;
    height: 2em;
    background: black;
    border: 1px 0 0 0;
    border-color: #333;
    color: white;
    visibility: hidden;
    overflow: hidden;
}